@font-face {
  font-family: "BigNoodleTooOblique";
  src: url("../fonts/BigNoodleTooOblique.eot");
  src: url("../fonts/BigNoodleTooOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/BigNoodleTooOblique.woff2") format("woff2"), url("../fonts/BigNoodleTooOblique.woff") format("woff"), url("../fonts/BigNoodleTooOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  background: #6672a6;
  margin: 0;
  padding: 0; }

body {
  font-family: "Nunito", sans-serif;
  background: radial-gradient(ellipse at center, #fef5ee 0%, #c7b8df 71%, #6672a6 100%);
  margin: 0;
  padding: 0;
  height: 100vh; }

header {
  padding: 2rem; }
  header h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(0deg, transparent, #6fffff);
    color: #6fffff;
    font-family: "BigNoodleTooOblique";
    font-size: 7rem;
    margin: 0;
    opacity: 0.8;
    padding: 0; }
    @media all and (max-width: 1024px) {
      header h1 {
        font-size: 3rem; } }
  header h2 {
    color: #ffffff;
    font-family: "BigNoodleTooOblique";
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
    position: relative;
    top: -2rem;
    left: 1rem; }
    @media all and (max-width: 1024px) {
      header h2 {
        font-size: 1.5rem;
        top: -1rem; } }

@keyframes slide-in {
  from {
    left: -100vw; }
  to {
    left: 0; } }
@keyframes slide-out {
  from {
    left: 0; }
  to {
    left: 100vw; } }
@keyframes fade-out {
  0% {
    opacity: 0.0; }
  25% {
    opacity: 1.0; }
  99% {
    opacity: 0.0; }
  100% {
    opacity: 0;
    display: none; } }
main {
  margin: 0 auto;
  text-align: center;
  width: 50vw; }
  @media all and (max-width: 1024px) {
    main {
      width: 90vw;
      margin: 0 auto; } }
  main p {
    color: #1c3f57;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem; }
  main em {
    color: #2f8ac6; }

button {
  background: #2f8ac6;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 1.25rem;
  font-weight: bold;
  min-width: 10rem;
  padding: 0.5rem 3rem;
  text-transform: uppercase; }
  @media all and (max-width: 1024px) {
    button {
      padding: 0.5rem 0;
      text-align: center;
      min-width: auto;
      width: 35vw; }
      button + button {
        margin: 0 0 0 5vw; } }
  button:hover {
    background: #eba334; }
  button + button {
    margin: 0 0 0 2rem; }

.voiceline {
  animation: slide-in 1s 0 ease-in-out;
  color: #fef5ee;
  position: relative;
  text-shadow: 0 0 4rem #c7b8df;
  font-family: "BigNoodleTooOblique";
  font-size: 6rem; }
  @media all and (max-width: 1024px) {
    .voiceline {
      font-size: 3.5rem; } }

.result {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0; }
  .result.active {
    animation: fade-out 2s 1 ease-in-out;
    display: block;
    opacity: 1.0; }
  .result .correct, .result .wrong {
    bottom: 0;
    display: none;
    font-family: "BigNoodleTooOblique";
    font-size: 11rem;
    left: 0;
    line-height: 70vh;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0; }
    .result .correct.active, .result .wrong.active {
      display: block; }
    @media all and (max-width: 1024px) {
      .result .correct, .result .wrong {
        font-size: 4rem; } }
  .result .correct {
    color: #eba334;
    text-shadow: 0 0 0.5rem #c07c13; }
  .result .wrong {
    color: #e80121;
    text-shadow: 0 0 0.5rem #9c0116; }
  .result .character {
    color: #eba334;
    font-family: "BigNoodleTooOblique";
    font-size: 4rem;
    position: relative;
    text-shadow: 0 0 1.5rem #c07c13;
    top: 60vh; }
    @media all and (max-width: 1024px) {
      .result .character {
        font-size: 3rem; } }

footer {
  bottom: 2rem;
  overflow: auto;
  position: absolute;
  right: 2rem; }
  @media all and (max-width: 1024px) {
    footer {
      display: none; } }
  footer div {
    color: #ffffff;
    float: right;
    font-family: "Nunito", Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
    margin: 0 2rem 0 0;
    text-transform: uppercase; }
  footer .key {
    background: rgba(0, 0, 0, 0.4);
    border-radius: px;
    border: 1px solid #b3b3b3;
    color: #ffffff;
    display: inline-block;
    font-family: "Nunito", Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0 0.5rem 0 0;
    min-width: 1rem;
    padding: 0.45rem 0.7rem;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
