footer {    
    bottom: 2rem;
    overflow: auto;
    position: absolute;
    right: 2rem;

    @media all and (max-width: $width-mobile) {
        display: none;
    }  

    div {
        color: $color-white;
        float: right;
        font-family: "Nunito", Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 900;
        margin: 0 2rem 0 0;
        text-transform: uppercase;
    }

    .key {
        background: rgba($color-black, 0.4);
        border-radius: px;
        border: 1px solid darken($color-white, 30%);
        color: $color-white;
        display: inline-block;
        font-family: "Nunito", Arial, sans-serif;
        font-size: 0.75rem;
        font-weight: 700;
        margin: 0 0.5rem 0 0;
        min-width: 1rem;
        padding: 0.45rem 0.7rem;
        text-align: center;
    }    
}


